{% extends "base.html" %}

{% block content %}
    <h1>Register</h1>
    {% if form.errors %}
                {% for error in form.errors %}
                    <div>{{ error }}</div>
                {% endfor %}
    {% endif %}
    <!-- TODO: (milestone 3) Include the template for "user registration" form here..  -->
    {% if form %}

            <form method="post" action="{{ url_for('auth.register') }}" class="register-form">
                {{ form.hidden_tag() }}

     
        
                {{ form.username.label }} {{ form.username(class="auth-input") }}
           
                {{ form.email.label }} {{ form.email(class="auth-input") }}
         
                {{ form.password.label }} {{ form.password(class="auth-input") }}
       
           
                {{ form.password2.label }} {{ form.password2(class="auth-input") }}
         

                {{ form.submit(class="auth-button") }}
            </form>
    {% endif %}
{% endblock %}